{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center m-5">{{ product.name }} <i class="small">({{ 'product.id'|trans ~ ' : ' ~ product.id }})</i></h1>

    <div class="row">
        <div class="col-sm-8">
            <p><strong>{{ 'product.price'|trans }} :</strong> {{ product.price|number_format(2) }} {{ 'currency.symbol.euro'|trans }}</p>

            <label><strong>{{ 'product.description'|trans }} :</strong></label>
            <p>{{ product.description }}</p>
        </div>
        <div class="col-sm-4">
            {{ form(AddToCartForm, { 'action' : path('shopping_cart_add')}) }}
        </div>
    </div>
{% endblock %}