{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">{{ product.name }} <i class="small">({{ 'product.id'|trans ~ ' : ' ~ product.id }})</i></h2>

    <h3>{{ 'product.price'|trans }} : {{ product.price|number_format(2) }} {{ 'currency.symbol.euro'|trans }}</h3>
        {{ form(AddToCartForm, { 'action' : path('shopping_cart_add')}) }}
    <h4>{{ 'product.description'|trans }} :</h4>
    <p>{{ product.description }}</p>

{% endblock %}