{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="text-center m-5">{{ 'product.list'|trans }}</h1>
    <div class="product-container">
        {% for product in products %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
            {% endif %}
            <div id="{{ 'product-' ~ product.id }}" class="col-sm-4 border rounded text-center p-4 product">
                {% if product.imageName is not null %}
                    <img class="img-thumbnail float-left list-image m-2" src="{{ vich_uploader_asset(product, 'imageFile') }}">
                {% endif %}
                <div>{{ product.name }}</div>
                <a href="{{ path('product_detail', {'slug': product.slug}) }}">{{ 'product.see.details'|trans }}</a><br/>
            </div>
            {% if loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
