{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'cart.name'|trans }}</h1>
    <ul>
    {% for product_item in product_items %}
        <li>{{ product_item.product.name }} ({{ product_item.quantity }} : {{ product_item.totalPrice ~ 'currency.symbol.euro'|trans }})
            <a href="{{ path('product_detail', {'id': product_item.product.id}) }}">{{ 'see_details'|trans }}</a>
            <a href="{{ path('shopping_cart_remove', {'id': product_item.product.id}) }}">{{ 'cart.remove.one'|trans }}</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{{ path('shopping_cart_clean') }}"><i class="fa fa-trash fa-2x float-right" aria-hidden="true"></i></a>

{% endblock %}
