{% set current_locale = app.request.attributes.get('_locale') %}

<a class="{{ class }} dropdown-toggle" href="#" id="lang-switch" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    {{ current_locale }}
</a>
<div class="dropdown-menu" aria-labelledby="lang-switch">{% for locale in available_locales() %}
    {% set localised_link = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')|merge({ '_locale' : locale })
        ) %}
    <a class="dropdown-item {{ current_locale == locale ? 'active' : '' }}"
       href={{ localised_link }}>
        {{ locale }}
    </a>
{% endfor %}
</div>